.hero-section {
  background-image: url("../photo-1.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    background-color: #296a90;
    opacity: 0.8;
    padding: 3rem;
    width: 46%;
    width: 46%;
    top: 50%;
    left: 50%;

    transform: translate(-95%, -50%);
    @include screen-size(tablet) {
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
    }

    @include screen-size(phone) {
      padding: 1.5rem;
    }

    @include screen-size(small-phone) {
      transform: translate(-50%, -26%);
    }
  }

  .hero-text {
    margin-top: 2rem;
    font-size: 2.4rem;
    color: #fff;

    @include screen-size(phone) {
      text-wrap: unset;
    }
  }

  .hero-cta {
    align-self: flex-start;
    color: #fff;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f7b91a;
  }
}
