.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  svg {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border: 1px solid #dabf7d;
    border-radius: 50%;
    padding: 1.2rem;
    fill: #dabf7d;
  }

  .service-text {
    font-size: 1.8rem;
    color: #797d7b;
    text-align: center;
  }
}
